@font-face {
  font-family: 'Jost';
  src: url(./fonts/Jost-Black.ttf);
  font-weight: 900;
}

@font-face {
  font-family: 'Jost';
  src: url(./fonts/Jost-Bold.ttf);
  font-weight: 800;
}

@font-face {
  font-family: 'Jost';
  src: url(./fonts/Jost-SemiBold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'Jost';
  src: url(./fonts/Jost-Medium.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'Jost';
  src: url(./fonts/Jost-Regular.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'Teko';
  src: url(./fonts/Teko-Bold.ttf);
  font-weight: 900;
}

@font-face {
  font-family: 'Teko';
  src: url(./fonts/Teko-Medium.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'Teko';
  src: url(./fonts/Teko-Regular.ttf);
  font-weight: 500;
}